header {
    background-color: aquamarine;
    padding: 10px;
    text-align: center;
    position: fixed;  /* Keeps the header fixed at the top */
    width: 100%;  /* Makes the header span the full width of the page */
    top: 0;  /* Ensures it stays at the very top of the page */
    z-index: 1000;  /* Keeps the header on top of other content */
}
body {
    margin-top: 60px; /* Adjust based on the height of your header */
}

.header-image {
    width: 100px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
